@using Demo.UI.Mvc.ViewModels;
@model IEnumerable<Demo.UI.Mvc.ViewModels.ProdutoView>
@{
    var grid = new WebGrid(Model);
    var sum = Model.Sum(produto => produto.Preco);
    decimal total = sum != null ? sum.Value : 0;
    var quantidade = Model.Count();
}

@helper displayNome(ProdutoView produto)
{
    @Html.DisplayFor(model => produto.Nome)
}

@helper displayPreco(ProdutoView produto)
{
    @Html.DisplayFor(model => produto.Preco)
}

@grid.GetHtml(tableStyle: "table table-striped table-hover", columns: new[]{
    grid.Column("Nome", format: d=> displayNome((ProdutoView)d.Value)),
    grid.Column("Preco", format: d=> displayPreco((ProdutoView)d.Value)),
    grid.Column(format: d => Html.ActionLink("Remover", "Delete", new { id = d.Id }, new { @class = "btn btn-danger btn-xs remover" }))
})
<p><strong>Total: </strong>@total.ToString("c")</p>
<p><strong>Quantidade: </strong>@quantidade</p>
